/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbarDisable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarDisable {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.imageContainer {
  transition: all 1s ease-in-out;
}