<div class="d-flex flex-column" style="height: 100vh; width: 100vw">
  <app-nav-bar></app-nav-bar>
  <div
    class="flex-grow-1 p-0 container-fluid d-flex scrollbarDisable"
    style="overflow: auto"
  >
    <div class="col-5 my-2 px-2 scrollbarDisable" style="overflow: auto">
      <div class="d-flex justify-content-center" style="height: 12rem">
        <img
          style="object-fit: contain"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Martin-p%C3%AAcheur_d%27Europe.jpg/1200px-Martin-p%C3%AAcheur_d%27Europe.jpg?20210926115158"
        />
      </div>
      <div>
        <app-trip-form [currentTrip]="this.currentTrip" [loadingTripState]="this.loadingTripState"></app-trip-form>
      </div>
      <div>
        <app-list-places
          [currentTrip]="this.currentTrip"
          (centerOnMapClicked)="centerPlaceOnMap($event)"
          (centerMapAroundPlaces)="centerMapAroundPlaces($event)"
          (placeDeleted)="placeDeleted()"
        ></app-list-places>
      </div>
    </div>
    <div class="my-2 px-2 col-7">
      <div class="h-100 w-100">
        <app-map
          class="p-0"
          [currentTrip]="this.currentTrip"
          [centerMapOnLocationObservable]="selectPlaceToCenter.asObservable()"
          [centerMapAroundPlacesObservable]="centerMapAroundPlacesSubject.asObservable()"
          [placeDeletedObservable]="placeDeletedSubject.asObservable()"
        ></app-map>
      </div>
    </div>
  </div>
</div>
