<div>
  <div id="loginFormContainer" class="shadow p-3 col-4 col-xl-3 row-3 position-absolute top-50 start-50 translate-middle">
    <form class="h-100 w-100" #loginForm="ngForm" (submit)="onSubmit(loginForm)">
      <div class="mb-3">
        <label form="username" class="form-label">Username</label>
        <input class="form-control" type="text" name="username" id="username" #usernameField="ngModel" required
          [(ngModel)]="authRequest.username" />
        <p class="form-text" *ngIf="usernameField.hasError('required') && usernameField.touched">
          Username is required
        </p>
      </div>
      <div class="mb-3">
        <label form="password" class="form-label">Password</label>
        <input class="form-control" type="password" name="password" id="passwrod" #passwordField="ngModel" required
          [(ngModel)]="authRequest.password" />
        <p class="form-text" *ngIf="passwordField.hasError('required') && passwordField.touched">
          Password is required
        </p>
      </div>

      <div>
        <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Log in</button>
        <span class="m-3"><a href="">Create new account</a></span>
        <p class="form-text" *ngIf="loginError">
          Unable to log in. See the log for more information.
        </p>
      </div>
    </form>
  </div>
</div>