<div *ngIf="formMode==='Modification'">Trip ID: {{ currentTrip?.id }}</div>
<div *ngIf="formMode==='New'">Create new trip</div>
<button class="btn btn-link btn-sm" (click)="deleteTrip()">
  <i class="far fa-trash-alt"></i>
</button>
<form #tripForm="ngForm">
  <div class="form-group">
    <label for="tripTitleInput">Title</label>
    <input
      class="form-control"
      type="text"
      id="tripTitleInput"
      [(ngModel)]="tripTitle"
      #tripTitleInput="ngModel"
      required
      name="Trip title"
    />
  </div>
  <div class="form-group">
    <label for="tripDescriptionInput">Description</label>
    <input
      class="form-control"
      type="text"
      id="tripDescriptionInput"
      [(ngModel)]="tripDescription"
      #tripDescriptionInput="ngModel"
      required
      name="Trip description"
    />
  </div>
  <button
    type="submit"
    class="mt-2 btn btn-primary"
    [disabled]="tripForm.invalid"
    (click)="submitForm()"
  >
    Save
  </button>
  <div style="margin-left: 10px">
    [TEMP]Current mode : {{ formMode }}
  </div>
</form>
