<div class="h-100 d-flex flex-column">
    <h3>Modify trip informations</h3>
    <div class="align-items-center d-flex">
    <form #tripForm="ngForm" class="w-100">
      <div class="form-group">
        <label for="tripTitleInput">Title</label>
        <input
          class="form-control"
          type="text"
          id="tripTitleInput"
          [(ngModel)]="tripTitle"
          #tripTitleInput="ngModel"
          required
          minlength="3"
          maxlength="100"
          name="Trip title"
        />
      </div>
      <div class="form-group">
        <label for="tripDescriptionInput">Description</label>
        <textarea
          class="form-control text-wrap text-break"
          type="text"
          id="tripDescriptionInput"
          [(ngModel)]="tripDescription"
          #tripDescriptionInput="ngModel"
          required
          rows="3"
          minlength="5"
          maxlength="50000"
          name="Trip description"
        ></textarea>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <button
          type="submit"
          class="mt-2 btn btn-primary"
          [disabled]="tripForm.invalid"
          (click)="submitForm()"
        >
          Save
        </button>
        <div>
          <button
            *ngIf="formMode === 'Modification'"
            class="btn btn-link btn-sm"
            (click)="deleteTrip()"
          >
            <fa-icon
              class="text-danger"
              [icon]="faTrash"
              style="font-size: 20px"
              title="Delete trip"
              alt="Delete trip"
            ></fa-icon>
          </button>
        </div>
      </div>
      <div style="margin-left: 10px">[TEMP]Current mode : {{ formMode }}</div>
    </form>
  </div>
</div>
