<app-nav-bar></app-nav-bar>
<p>trip-detail-page works!</p>
<div class="container-fluid" style="border: 1px solid black">
  <div class="mx-2 h-100 row">
    <div class="col-6 border">
      <div class="m-1">test</div>
    </div>
    <div class="col-6 border">
      <div class="m-1">
        <app-trip-form></app-trip-form>
      </div>
    </div>
    <div class="col-6 border">
      <div class="m-1"><app-list-places></app-list-places></div>
    </div>
    <div class="col-6 border">
      <div class="m-1">test</div>
    </div>
  </div>
</div>
