<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="border: 1px solid black">
  <div class="mx-2 h-100 row">
    <div class="col-6 border">
      <div class="m-1">test</div>
    </div>
    <div class="col-6 border">
      <div class="m-1">
        <app-trip-form [currentTrip]="this.currentTrip"></app-trip-form>
      </div>
    </div>
    <div class="col-6 border">
      <div class="m-1">
        <app-list-places [currentTrip]="this.currentTrip"></app-list-places>
      </div>
    </div>
    <div class="col-6 border">
      <div class="m-1">test</div>
    </div>
  </div>
</div>
