<app-nav-bar></app-nav-bar>
<app-error-message [message]="errorMessage"></app-error-message>
<!-- 
  les events pour la map? 
(centerOnMapClicked)="centerPlaceOnMap($event)"
          (centerMapAroundPlaces)="centerMapAroundPlaces($event)"
          (placeDeleted)="placeDeleted()"

 -->

<div class="d-flex flex-column flex-md-row">

  <div class="col-md-6">
    <div>
      <app-place-form [currentPlace]="currentPlace" [placeName]="currentPlace?.name" [placeDescription]="currentPlace?.description" [longitude]="longitude" [latitude]="latitude"></app-place-form>
    </div>
    <button class="btn btn-primary mt-3" (click)="goBack()">Back to Trip Detail</button>
    <!-- modifier la présentation pour mettre dans forme. -->
 <!--    <div *ngIf="place">
      <h2>{{ place.name }}</h2>
      <p>{{ place.description }}</p>
      <p>{{ place.id }}</p>
      <div *ngIf="place.pictureUrl">
        <img [src]="place.pictureUrl" alt="Place Image" class="img-fluid">
      </div>
    </div> -->

    <!-- colonne gauche -->
  </div>


  <div class="col-md-6">
    <div>
      <app-map
      class="p-0"

      ></app-map>
    </div>
    <!-- colonne droite / map -->
  </div>

</div>
