<div class="h-100 d-flex flex-column">
  <h3>{{ formTitle }}</h3>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="align-items-center d-flex">
    <form #placeForm="ngForm" class="w-100">
      <div class="form-group">
        <div class="input-name">
          <label for="placeName">Name</label>
          <input
            class="form-control"
            id="placeName"
            type="text"
            [(ngModel)]="placeName"
            name="placeName"
            minlength="3"
            maxlength="100"
            required
          />
        </div>

        <div class="input-description">
          <label for="placeDescription">Description</label>
          <input
            class="form-control"
            id="placeDescription"
            type="text"
            [(ngModel)]="placeDescription"
            name="placeDescription"
            minlength="5"
            maxlength="50000"
            required
          />
        </div>
        <div class="d-flex">
          <div class="d-flex col-11">
            <div class="input-location col-6 pe-2">
              <label for="longitude">Longitude</label>
              <input
                class="form-control"
                id="longitude"
                type="text"
                [(ngModel)]="longitude"
                name="longitude"
                required
              />
            </div>
            <div class="input-location col-6 ps-2">
              <label for="latitude">Latitude</label>
              <input
                class="form-control"
                id="latitude"
                type="text"
                [(ngModel)]="latitude"
                name="latitude"
                required
              />
            </div>
          </div>
          <div class="col-1 d-flex align-items-end justify-content-center">
            <button class="btn btn-link btn-sm p-0" (click)="getCoordinates()">
              <fa-icon
                class="btn-primary"
                [class.btn-primary]="!gettingCoordinates"
                [class.text-warning]="gettingCoordinates"
                [icon]="faTrash"
                style="font-size: 25px"
                title="Click on map to get coordinates"
                alt="Click on map to get coordinates"
              ></fa-icon>
            </button>
          </div>
        </div>
        <div class="input-pictureUrl">
          <label for="picUrl">Picture URL</label>
          <input
            class="form-control"
            id="picUrl"
            type="text"
            [(ngModel)]="picUrl"
            name="picUrl"
            minlength="10"
            maxlength="500"
          />
        </div>
        <div class="d-flex align-items-center mt-2">
          <div class="">
            <button
              type="submit"
              class="btn btn-primary flex-shrink-0"
              [disabled]="placeForm.invalid"
              (click)="submit(placeForm)"
            >
              Save
            </button>
          </div>
          <em *ngIf="gettingCoordinates" class="ps-2"
            >Getting coordinates ...</em
          >
          <em *ngIf="stateMessage" class="ps-2">{{ stateMessage }}</em>
        </div>
      </div>
    </form>
  </div>
</div>
