<h1>Create a new place</h1>
<p>Fill the form and submit</p>
<div class="form-group">
  <form [formGroup] ="placeForm">
    <div classe="input-name">
    <label for="place-name">Name: </label>
    <!-- formControlName est juste -->
    <input id="place-name" type="text" formControlName="placeName" minlength="3" maxlength="100" required>
    </div>
  <div class="input-description">
    <label for="place-description">Description: </label>
    <input id="place-description" type="text" formControlName="placeDescription" minlength="5" maxlength="50000" required>
  </div>
    <div class="input-pictureUrl">
    <label for="picUrl">Picture URL: </label>
    <input id="picUrl" type="text" formControlName="picUrl" minlength="10" maxlength="500">
  </div>
    <button type="submit" [disabled]="!placeForm.valid">Submit</button>
  </form>
</div>
