h1,
p,
.form-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}

div,
label {
  padding: 2px;
}

button {
  margin-top: 10px;
  width: 20%;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}