<div class="ms-4">
  <span *ngIf="userHasNoTrips">
    You don't have any trip. Click
    <a href="javascript:void(0)" (click)="navigateToNewTrip()">here</a> to
    create one.</span
  >
  <span *ngIf="userMessage"
    ><em>{{ userMessage }}</em></span
  >
</div>
<ul *ngIf="tripsWithImages">
  <li *ngFor="let trip of tripsWithImages">
    <div
      class="card"
      style="width: 20rem"
      type="button"
      (click)="seeDetail(trip.trip.id)"
    >
      <img
        style="height: 16rem; object-fit: contain"
        class=""
        src="{{ trip.imagesUrl[0] }}"
        alt="No picture"
      />
      <div class="card-body">
        <h5 class="card-title">{{ trip.trip.title }}</h5>
        <div class="card-text text-truncate">{{ trip.trip.description }}</div>
      </div>
    </div>
  </li>
</ul>
