<div class="d-flex justify-content-start align-items-center">
  <div class="d-flex justify-content-between w-100">
    <div class="d-flex">
      <h3 class="m-0">Places list</h3>

      <button class="btn btn-link btn-sm" (click)="newPlace()">
        <fa-icon
          class="text-primary"
          [icon]="faSquarePlus"
          style="font-size: 20px"
          title="Add new place"
          alt="Add a new place"
        ></fa-icon>
      </button>
    </div>
    <button class="btn btn-link btn-sm" (click)="centerAroundAllPlaces()">
      <fa-icon
        class="text-primary"
        [icon]="faExpand"
        style="font-size: 20px"
        title="Center around all places"
        alt="Center around all places"
      ></fa-icon>
    </button>
  </div>
</div>
<div class="d-flex flex-column w-100 flex-grow-1" style="min-height: 0">
  <div style="flex: 1; position: relative">
    <div
      style="position: absolute; left: 0; top: 0; right: 0; overflow-y: auto"
    >
      <ul class="list-group w-100">
        <li class="list-group-item py-1 px-2" *ngFor="let place of places">
          <div class="w100">
            <div class="d-flex">
              <div class="flex-grow-1 container w-75">
                <h5 class="m-0">{{ place.name }}</h5>
                <div class="text-truncate">{{ place.description }}</div>
              </div>

              <button
                class="btn btn-link btn-sm justify-content-end"
                (click)="centerOnMap(place.location)"
              >
                <fa-icon
                  class="text-primary"
                  [icon]="faLocationCrossHair"
                  style="font-size: 20px"
                  title="Center on map"
                  alt="Center on map"
                ></fa-icon>
              </button>
              <button
                class="btn btn-link btn-sm justify-content-end"
                (click)="updatePlace(place.id)"
              >
                <fa-icon
                  class="text-primary"
                  [icon]="faPencil"
                  style="font-size: 20px"
                  title="Edit trip"
                  alt="Edit trip"
                ></fa-icon>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
