<div class="d-flex justify-content-start align-items-center">
  <h3 class="m-0">Places list</h3>
  <button class="btn btn-link btn-sm" routerLink="/addPlace"><fa-icon
    class="text-primary"
    [icon]="faSquarePlus"
    style="font-size: 20px"
    title="Add Place"
    alt="Add Place"

  ></fa-icon></button>
</div>
<ul>
  <li *ngFor="let place of places">
    <div class="w100">
      <div class="d-flex border">
        <div class="flex-grow-1 container w-75">
          <h5 class="m-0">{{ place.name }}</h5>
          <div class="text-truncate">{{ place.description }}</div>
        </div>
        <button
          class="btn btn-link btn-sm justify-content-end"
          (click)="modifyPlace()"
        >
          <fa-icon
            class="text-primary"
            [icon]="faPencil"
            style="font-size: 20px"
            title="Delete trip"
            alt="Delete trip"
          ></fa-icon>
        </button>
      </div>
    </div>
  </li>
</ul>
