
<h2>Trips</h2>
<div class="card-group">
<div class="card w-25">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ tripDescription }}</p>
    <button type="button" class="btn btn-primary">Button</button>
  </div>
</div>
<div class="card w-25">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ tripDescription }}</p>
    <button type="button" class="btn btn-primary">Button</button>
  </div>
</div>
<div class="card w-25">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ tripDescription }}</p>
    <button type="button" class="btn btn-primary">Button</button>
  </div>
</div>
</div>

